סhtml{
	scroll-behavior: smooth;
}

body{
	 background-color: rgb(255,255,255);
	 background-size: cover;
	 text-align:center;
	 margin: auto;
}
	
.topnav{
	background-color: rgb(76, 77, 76);
	overflow: hidden;
 }

 .topnav a{
	text-decoration: none;
	color: #c9c9c9;
	display: inline-block;
	padding:20px 20px;
	border: 2px solid transparent;
	transition: 0.3s ease;

 }


 .topnav a:hover{
	background-color: rgb(177, 177, 177);
	border: 2px solid rgba(4, 133, 202, 0.292);
	border-radius: 5px;
	color: black;
	transition: 0.3s ease;

 }

div .active{
	background-color: rgb(55, 55, 55);
}
 .nav-float{
    margin-left: 10%;
	margin-right: 10%;
	background-color: rgb(76, 77, 76);
 }

 a, span, p, h1, h2, h3, h4{
	font-weight: bold;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 li{
	list-style: none;
 }
 
 .blue{
	 width:200px;
	 padding-top: 20px;
 }

 .section1{
	display: inline-block;
	padding-top: 20px;
	max-width: 200px;

 }
 .youtube-img{
	width: 50%;
 }
 
 #links{
	color:rgb(4, 87, 202);
	text-decoration: none;
 }

 #links h2:hover{
	text-decoration: underline;
	color: rgba(4, 87, 202, 0.742);
 }

 .contact{
	padding-top: 20px;
	padding-bottom: 50px;
 }

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
	width: 50%;
  }
  
  input[type=submit] {
	background-color:  rgba(4, 87, 202, 0.742);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 50%;
    float: right;
	
  }
  
  input[type=submit]:hover {
	background-color: rgb(4, 87, 202);
  }

  label{
	float: left;
	width: 50%;
	text-align: left;
	display: inline;
  }

  .container {
	border-radius: 5px;
	background-color:rgb(188, 194, 208);
	padding: 20px;
	width: 50%;
  }
  
 img{
	 width:100px;
 }

 ol li{
	list-style: numbers;
	text-align: left;
 }

